.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    box-shadow: var(--shadow-input);

    & input {
        width: 100%;
        height: 48px;
        padding: 0.75rem 1.2rem;
        overflow: hidden;
        border: 1px solid var(--color-element);
        border-radius: 2.5rem;
        background-color: var(--color-active);
        font-size: 1rem;
        font-weight: 400;
    }

    & button {
        width: 48px;
        height: 48px;
        margin-left: 0.5rem;
        border: 0px;
        border-radius: 50%;
        background-color: var(--color-active);

        &:enabled {
            border: 1px solid var(--color-btn-accent);
            background-color: var(--color-accent);

            &:hover {
                background-color: var(--color-btn-accent);
                cursor: pointer;
            }

            &:active {
                background-color: #0550d1;
            }
        }

        &:disabled {
            border: 1px solid var(--color-element);

            &:hover {
                background-color: var(--color-element);
                cursor: pointer;
            }
        }

        & img {
            display: flex;
            width: auto;
            transform: scale(0.45);
        }
    }
}
