.nocontacts {
    display: flex;
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 4.5rem);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p {
        padding: 0.25rem;
        text-align: center;
    }

    & img {
        width: 1.75rem;
    }
}
