.profile {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 1.25rem;
}

.dp {
    display: flex;
    width: 3.75rem;
    height: 3.75rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 50%;

    & img {
        width: 100%;
        height: 100%;
    }
}

.details {
    display: flex;
    flex-direction: column;

    & h3 {
        font-size: 1.4rem;
    }

    & p {
        padding: 0px;
        opacity: 0.8;
        font-size: 0.95rem;
    }
}

.settings {
    padding: 0.5rem 0rem;
    border-bottom: 2px solid var(--color-active);

    &First {
        padding: 0px;
        padding-bottom: 0.75rem;
    }
}

.settingsBtn {
    display: block;
    padding: 0.6rem 1.5rem;

    & p {
        font-weight: 400;
    }
}

.settingsBtnLogout p {
    color: var(--color-err);
    font-weight: 600;
}

.settingsBtnDisable {
    &:hover {
        background: var(--color-background) !important;
        cursor: default !important;
    }

    &:active {
        transform: scale(1) !important;
        opacity: 1 !important;
    }
}

.version {
    padding: 0px 0px 0.2rem 0px;
    opacity: 0.8;
    font-size: 0.8rem;
}

.versionTitle {
    padding: 0.2rem 0px 0.2rem 0px;
}

.querycall {
    display: flex;
    align-items: center;
    align-items: center;
    margin: 1rem;
    margin-top: auto;
    padding: 0.6rem 1rem;
    border: 1.2px solid var(--color-element-hover);
    border-radius: 0.1rem;
    background-color: var(--color-background);
    font-size: 0.7rem;
    text-align: end;

    &:hover {
        background-color: var(--color-element-bg);
        cursor: pointer;
    }

    & img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.3rem;
        margin-right: 0.4rem;
    }

    & p {
        margin: auto;
        margin-top: auto;
        margin-bottom: 0px;
        padding: 0px;
        font-size: 0.95rem;
    }

    & strong {
        font-weight: 500;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 35rem;
    margin: auto;
    padding: 3rem 2rem 4rem 2rem;
    border-radius: 0.1rem;
    background-color: var(--color-background);
    box-shadow: var(--shadow-modal);
    text-align: center;

    & img {
        width: 2rem;
        margin-bottom: 0.75rem;
    }

    & p {
        padding: 0.35rem 0px;
    }
}
